header .input-group {
  background: #EEEEEE;
  border-radius: 50rem;
  overflow: hidden;
  padding: 0.25rem;
}
header .input-group .input-group-prepend span {
  background: transparent;
  border: 0;
}
header .input-group .form-control {
  border: 0;
  background: transparent;
  padding-left: 0;
}
header .input-group .form-control:focus {
  box-shadow: none;
}